/* From tasktracker/public/stylesheets/list.css: */

#oc-tasktracker #permissions_section #permission_help {
  float: right;
  width: 50%;
  padding-left: 1em;
}

#oc-tasktracker #permissions_section #permission_help ul {
  list-style-type: square;
}

#oc-tasktracker #permissions_section hr {
  clear: both;
  visibility: hidden;
  margin: 0;
}

#oc-tasktracker {
  margin: 0 2em 0.5em;
  font-size: 1em;
}

#oc-tasktracker br {
      	display: none; 
}
#oc-tasktracker .editable br {
        display: block;
}

	#oc-tasktracker.tt-context-tasklist-create br,
	#oc-tasktracker.tt-context-tasklist-preferences br {
		display: block;
		margin-top: 0.25em;
	}

#oc-tasktracker textarea {
	display: block;
}

#oc-tasktracker h1 {
	margin-top: 0.5em;
	margin-bottom: 0;
	display: block !important;
}

#oc-tasktracker  #task-list-description {
	margin-bottom: 1em;
}

#oc-tasktracker  .low-profile-widget {
	display: block;
	width: 100%;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: 1em;
	background-color: #eee; 
}

	#oc-tasktracker  input.low-profile-widget {
		font-style: italic;
	}
	
	#oc-tasktracker  select.low-profile-widget:focus {
		height: 1em;
		font-size: 1em;
	}

#oc-tasktracker  input#title { /* ??? */
	width: 50%;
}

#oc-tasktracker  input.auto-size {
	width: auto;
	height: auto;
}

#oc-tasktracker  .error-message { /* ??? */
     border: 1px black dashed;
     color: #f00;
     font-weight: bold;
}

#oc-tasktracker a.sortarrow:visited,
#oc-tasktracker  a.sortarrow:link { /* ??? Delete this? */
	text-decoration: none;
	color: #00f;
}

#oc-tasktracker  .row-heading { /* ??? */
    font-weight: bold;
}

#oc-tasktracker  .create_section { 
	padding: 0;
}

#oc-tasktracker  .task_cell {
  text-align: left;
}

#oc-tasktracker  .help {
	cursor: help;
}

#oc-tasktracker  .help_text {
	 background-color: #eee;
	 border: 1px solid black;
	 position: absolute;
}

#oc-tasktracker  .undecorated_list {
	 list-style-type: none;
	 list-style-image: none; 
	 padding-left: 0;
}

#oc-tasktracker .folded {
	display: none;
}

/* TASK DETAIL PAGE
-------------------*/
	
#oc-tasktracker #wrap-task-details {
	padding-top: 5px;
}

	#oc-tasktracker table.task_list#task-show-active-task {
	}
	
		#oc-tasktracker table.task_list#task-show-active-task #column-heading {
			font-size: 0.95em;
		}
		
		#oc-tasktracker table.task_list#task-show-active-task .title-column span.editable {
			font-weight: bold;
			font-size: 1.5em;
		}

	#oc-tasktracker #task-show-task-description {
		margin: 1em 0;
	}
	
	#oc-tasktracker #activity-table {
		border-spacing: 0;
		text-align: left;
		width: 100%;
	}	

		#oc-tasktracker td.task-detail-mainbar {
		}
		
			#oc-tasktracker td.task-detail-mainbar textarea {
				display: block;
			}
		
			#oc-tasktracker .activity_list {
				list-style: none;
				padding: 0; margin: 0;
				padding-left: 2em;
			}

				#oc-tasktracker .activity_list li,
				#oc-tasktracker td.task-detail-mainbar ul li {
					overflow: hidden;
					padding: 0.25em; 
					margin: 0;
				}
				
				#oc-tasktracker .activity_list hr {
						padding: 0;
						margin: 0;
						background-color: transparent;
						border-bottom: 1px dotted #eee;
				}
			
			#oc-tasktracker #activity-insert {
				background-color: #eee;
				padding: 3px;
				text-align: center;
			}

	#oc-tasktracker .child_tasks {
		padding-left: 25px;
		padding-top: 5px;
	}
	
	#oc-tasktracker #subtasks,
	#oc-tasktracker #edit_subtasks,
	#oc-tasktracker #create_section {
		margin: 1em 0;
	}
	
		#oc-tasktracker #show_create a {
			padding-left: 1em;
		}
			
	#oc-tasktracker.tt-context-task-show .post-link {
		margin: 1em 0;
		display: block;
	}

/* EDITABLE Stuff
-------------------*/

#oc-tasktracker .editable,
#oc-tasktracker .task_list .editable {
	border-bottom: 1px dotted #256e81;
	padding: 0.25em;
	cursor: pointer;
}

	#oc-tasktracker .editable:hover,
	#oc-tasktracker .editable.hover {
		background: #ffc;
		border: none;
	}


	#oc-tasktracker.tt-context-task-show #task-show-task-description .editable {
		display: block;
		padding: 0.5em;
		border: 1px dotted #256e81;
	}

		#oc-tasktracker.tt-context-task-show #task-show-task-description .editable:hover,
		#oc-tasktracker #permissions_section.editable:hover,
		#oc-tasktracker.tt-context-task-show #task-show-task-description .editable.hover,
		#oc-tasktracker #permissions_section.editable.hover {
			border: 1px solid #eee;
			background: #ffc;
		}

	#oc-tasktracker.tt-context-tasklist-update .editable {
		border: none;
	}
	
		#oc-tasktracker.tt-context-tasklist-update #text.editable {
			display: block;
			padding: 0.5em;
			margin: 1em 0;
			border: 1px dotted #256e81;
		}
	
			#oc-tasktracker.tt-context-tasklist-update #text.editable:hover,
			#oc-tasktracker.tt-context-tasklist-update #text.editable.hover {
				border: 1px solid #eee;
				background: #ffc;
			}
		

/* BOXY WIDGET THINGS
-------------------*/

#oc-tasktracker #add_comment_form,  /* "Add comment" box on tt-context-task-show */
#oc-tasktracker #managers-section,
#oc-tasktracker #permissions_section,
#oc-tasktracker  #features-section,
/* #oc-tasktracker.tt-context-tasklist-preferences table, */
#oc-tasktracker  #create_section, /* "Add task" box on tt-context-task-show and tt-context-tasklist-show */
/* #oc-tasktracker #add_task_form, */ 
#oc-tasktracker #comment {
	display: block;
	background-color: #eee;
	padding: 1em;
	margin: 0.5em 0;
	border: 1px solid #ddd;
}


	#oc-tasktracker #add_task_form  #hideable_title_label {
		display: block;
		margin-top: 1em;
	}

	#oc-tasktracker #add_task_form #show_description,
	#oc-tasktracker #add_task_form #hide_description {
		text-transform: lowercase;
		margin-bottom: 1em;
		display: block;
	}
	
	#oc-tasktracker #comment:before,
	#oc-tasktracker.tt-context-tasklist-index #add_list:before {
		content: "[ + ] ";
	}

/* TASKLIST INDEX
------------------- */

#oc-tasktracker.tt-context-tasklist-index .sbar {
	width: 47%;
	float: right;
	clear: left;
}

	#oc-tasktracker.tt-context-tasklist-index .sbar #tt-about,	
	#oc-tasktracker.tt-context-tasklist-index .sbar #tt-glossary {
		margin: 0 0 1em;
		padding: 1em;
		background-color: #eee;
		border: 1px solid #ddd;
	}
	
	#oc-tasktracker.tt-context-tasklist-index .sbar ul {
		list-style-image: inherit;
		list-style-type: square;
		margin-left: 1em;
		color: #333;
	}
	
#oc-tasktracker.tt-context-tasklist-index h1 {
	font-size: 2em;
}

#oc-tasktracker.tt-context-tasklist-index ul {
  list-style-type: none;
  list-style-image: none;
}

#oc-tasktracker.tt-context-tasklist-index #add_list,
#oc-tasktracker.tt-context-tasklist-index #active-tasklists,
#oc-tasktracker.tt-context-tasklist-index #completed-tasklists {
	display: block;
	width: 47%;
	border: 1px solid #ddd;
	padding: 1em;
	margin: 1em 0;
}

	#oc-tasktracker.tt-context-tasklist-index #add_list {
		background: #eee;
	}
	
	#oc-tasktracker.tt-context-tasklist-index #active-tasklists {
		background: #ffc;
	}
	
	#oc-tasktracker.tt-context-tasklist-index #completed-tasklists ul,
	#oc-tasktracker.tt-context-tasklist-index #completed-tasklists ul a {
		color: gray;
	}

/* TASKLIST PREFS and CREATE NEW TASKLIST
------------------- */

#oc-tasktracker.tt-context-tasklist-update h1 {
	font-size: 2em;
}

#oc-task-tracker.tt-context-tasklist-preferences #text {
	margin: 1em 0;
	display: block
}

#oc-tasktracker #edit_text, #edit_text textarea {
	width: 100%;
	font-family: inherit;
	line-height: 1.5em;
}

#oc-tasktracker #managers_div ul,
#oc-tasktracker  #edit_managers_div ul,
#oc-tasktracker.tt-context-tasklist-create #managers-section ul,
#oc-tasktracker #managers-section ul,
#oc-tasktracker  #permissions_section ul {
	list-style-type: none;
	list-style-image: none;
}

#oc-tasktracker #edit_initial_assign {
	margin: 1em 0;
}

	#oc-tasktracker #edit_initial_assign br {
		display: block;
	}

#oc-tasktracker #permissions_section {
/* See BOXY WIDGET THINGS */
}

	#oc-tasktracker  .unselected-permission {
		color: #999;
	}
	
	#oc-tasktracker  .selected-permission {
		color: #000;
	}
	
	#oc-tasktracker  .disabled-permission {
	}
	
		#oc-tasktracker .disabled-permission input{
			visibility: hidden;
		}

#oc-tasktracker #member_permissions ul li,
#oc-tasktracker #other_permissions ul li {
	font-weight: normal;
	margin: 0;
}

#oc-tasktracker.tt-context-tasklist-preferences #managers-section,
#oc-tasktracker.tt-context-tasklist-preferences #permissions_section,
#oc-tasktracker.tt-context-tasklist-preferences #features-section {
	background: none;
}

	#oc-tasktracker.tt-context-tasklist-preferences #features-section div {
		margin-bottom: 1em;
	}


/* TASK LIST Stuff
-------------------*/

#oc-tasktracker table {
	border-collapse: collapse;
}

	#oc-tasktracker table#next-prev-tasks {
		background-color: #eee;
		width: 100%;
		margin-top: 1em;
		font-size: 0.95em;
		padding: 0.25em;
	}
	
		#oc-tasktracker table#next-prev-tasks td {
			width: 50%;
		}
		
	#oc-tasktracker table.all_tasks {
		width: 100%;
	}

	#oc-tasktracker table.task_list {
		width: 100%;
		margin-top: 1em;
	}

		#oc-tasktracker tr.column-heading {
			background-color: #ddd;
		}
		
			#oc-tasktracker tr.column-heading th {
				text-transform: capitalize;
				padding-right: 1.5em;
				white-space: nowrap;
			}
		
			#oc-tasktracker th.title-column {
				column-span: 2;
			}
			
		#oc-tasktracker tr.task-filter-controls {
			background-color: #eee;
			font-size: 0.95em;
		}
		
			#oc-tasktracker .filter-line select {
				width: 6em;
				font-size: 100%;
			}
			
			#oc-tasktracker tr.task-filter-controls td.title-column:after {
				content: " Filter by..."
			}

		#oc-tasktracker td.deadline-column, 
		#oc-tasktracker td.owner-column, 
		#oc-tasktracker td.updated-column, 
		#oc-tasktracker td.priority-column, 
		#oc-tasktracker td.status-column,
		#oc-tasktracker td.title-column,
		#oc-tasktracker td.custom-status,
		#oc-tasktracker .delete-task-column { 
			border-bottom: 1px dotted #eee;
			white-space: nowrap;
		}
		
			#oc-tasktracker td.title-column {
				white-space: normal;
			}

		#oc-tasktracker td.status-column {
			width: 1em;
		}
		
			#oc-tasktracker td.status-column input {
				margin: 0.125em;
				margin-left: 0.5em;
			}

		#oc-tasktracker td.title-column {
			width: auto;
		}
		
			#oc-tasktracker .taskitem {
			}
			
				#oc-tasktracker .taskitem .small {
					font-size: 0.95em
				}
				
		#oc-tasktracker td.deadline-column, 
		#oc-tasktracker td.owner-column, 
		#oc-tasktracker td.updated-column, 
		#oc-tasktracker td.priority-column,
		#oc-tasktracker td.custom-status {
			width: 10em;			
		}
		
		#oc-tasktracker.hide-delete-links .delete-task-column { 
			display: none;
		}
		
		#oc-tasktracker.show-delete-links .delete-task-column { 
			width: 6em;
		}
		
		#oc-tasktracker tr.taskrow,
		#oc-tasktracker tr.second-line {

		}
		
			#oc-tasktracker tr.taskrow td {
			}
		
			#oc-tasktracker tr.second-line td {
				text-decoration: none;
				padding-top: 0.125em;
				padding-left: 1em;
				font-size: 0.95em;
			}
			
		#oc-tasktracker .completed-task {
			color: gray;
			background-color: #f9f9f9;
		}
		
			#oc-tasktracker .completed-task td.deadline-column, 
			#oc-tasktracker .completed-task td.owner-column, 
			#oc-tasktracker .completed-task td.updated-column, 
			#oc-tasktracker .completed-task td.priority-column, 
			#oc-tasktracker .completed-task td.custom-status,
			#oc-tasktracker .completed-task .delete-task-column {
				text-decoration: line-through;
			}
			
				#oc-tasktracker .completed-task td.status-column {
				}
		
					#oc-tasktracker .completed-task td.title-column a,
					#oc-tasktracker span.completed-task {
						text-decoration: line-through;
					}
					
					#oc-tasktracker .completed-task td.delete-task-column,
					#oc-tasktracker .completed-task td.delete-task-column a {
						text-decoration: underline;
					}

		
			#oc-tasktracker .second-line .completed-task {
				display: none;
			}
			
		#oc-tasktracker .uncompleted-task,
		#oc-tasktracker .command {
			cursor: pointer;
			text-decoration: underline;
			color: #256e81;
		}
		
		#oc-tasktracker #delete_task_anchor {
			display: inline;
			padding-right: 1em;
		}

/* DRAG & DROP Stuff
-------------------*/

#oc-tasktracker .customDraggable { /* When something is being dragged, this is what it looks like as it is being "grasped" */
	color: #333;
	background-color: #ccc;
	padding: 1em;
	filter:alpha(opacity=40);
	opacity: .4;
}

#oc-tasktracker .currently-dragged-column div { /* When something is being dragged, this is what the original looks like... This is disablled because of faulty JS that causes the style to persist incorrectly */
	background-color: #ccc;
}

#oc-tasktracker .handle { /* This is where the collapsible triangle flippy thing does its thing */
	cursor: pointer;
	}

#oc-tasktracker .drop { /* ??? */
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	cursor: pointer;	
}

#oc-tasktracker.tt-context-tasklist-show .draggable-column-heading {
	cursor: move;
}

	#oc-tasktracker.tt-context-tasklist-show .title-column.draggable-column-heading {
		cursor: default;
	}
	
	
/* ???
-------------------*/

#oc-tasktracker label {
	font-weight: normal;
}

#oc-tasktracker .small {
}

#oc-tasktracker .big {
	
}

#oc-tasktracker .hidden,
#oc-tasktracker #global-values  {
	display: none;
}

#oc-tasktracker .grayed-out {
	color: gray;
}

#oc-tasktracker .preview {
	color: #aaa;
}

#oc-tasktracker a.preview-link {
	color: #aaa;
}

#oc-tasktracker .overdue-task {
   color: maroon;
}

#oc-tasktracker a {
}

#oc-tasktracker ul.command_list {
	display: inline;
}

	#oc-tasktracker ul.command_list li {
		border-left: 1px solid #000;
		list-style: none;
		display: inline;
	}

#oc-tasktracker div.sibling_dropzone, div.child_dropzone {
	display: inline;
	height: 1em;
}

	#oc-tasktracker div#sibling_dropzone_0 {
		padding-left: 2em;
		padding-right: 10em;
	}

/* from SCRIPTACULOUS
-------------------*/

	#oc-tasktracker span.autocomplete {
	    background-color:white;
	    margin:0;
	    padding:0;
	}
	#oc-tasktracker span.autocomplete ul {
	    list-style-type:none;
	    margin:0;
	    padding:0;
	    border: 1px solid black;
	}
	#oc-tasktracker span.autocomplete ul li.selected {
	    background-color: #ffb;
	}
	#oc-tasktracker span.autocomplete ul li {
	    list-style-type:none;
	    background-color: white;
	    display:block;
	    margin:0;
	    padding:0;
	    height:1.25em;
	    cursor:pointer;
	}



/* From tasktracker/public/stylesheets/datebocks_engine.css: */

#dateBocksMessage {
  clear: both;
}

#dateBocksMessage div {
  font-size: 0.75em;
}

#dateBocksMessage div.error {
  color: red;
}

.dateBocks span {
	list-style: none;
	padding: 0 0px 0 0;
	margin: 0px 0 0px 0;
}

.dateBocks ul li {
	display: inline;
}

.dateBocks ul a {
	padding: 0px;
	display: block;
	float: left;
}

.dateBocksInput input {
	display: inline;
	height: 1em;
	width: 7em;
}



/* From tasktracker/public/stylesheets/calendar-blue.css: */

/* The main calendar widget.  DIV containing a table. */

.calendar {
  z-index: 1000;
}

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
  background: #778 url(/engine_files/datebocks_engine/images/menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #778;
  color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #acf;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}




