#dateBocksMessage {
  clear: both;
}

#dateBocksMessage div {
  font-size: 0.75em;
}

#dateBocksMessage div.error {
  color: red;
}

.dateBocks span {
	list-style: none;
	padding: 0 0px 0 0;
	margin: 0px 0 0px 0;
}

.dateBocks ul li {
	display: inline;
}

.dateBocks ul a {
	padding: 0px;
	display: block;
	float: left;
}

.dateBocksInput input {
	display: inline;
	height: 1em;
	width: 7em;
}