table {
  border-collapse: collapse;
}

.title-column, .updated-column {
  white-space: nowrap;
}

td { height: 3.5em; padding: 0;}
tr.task-filter-controls td { height: 1.75em; }
.first_line, .second-line { height: 50%; padding: 0 .25em; }
.first_line {  background-color: #DDD; }
.second-line {  background-color: #FFF; }

input[type="text"] {
  width: 100%;
  height: 100%;
  background: none;  
  border: none;
  font: inherit;
  font-style: italic;
}


input[type="checkbox"] { width: auto; height: auto;}

select { width: 100%; height: 100%; background: none; background-color: #DDD; border: none; font: inherit; }

select:focus { height: 1.65em;}

body {
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
}


.small {
   font-size: 80%;
}

.filter-line {
  background-color: #ddd;
  width: auto;
}

.status-column {
  text-align: left;
}



.grayed-out {
   color: gray;
}

.preview {
  color: gray;
}

a.preview-link {
  color: gray;
}

.task_list {
	list-style-type: none;
        list-style-image: none; 
	padding-left: 0;
}

.handle {
	padding: 0 4px 0 4px;
}

.customDraggable {
  color: #666;
  background-color: #bbb;
  filter:alpha(opacity=40);
  opacity: .4;
}

.drop {
   border-bottom: 2px solid black;
   padding-bottom: 2px;	
}

/*from scriptaculous*/
span.autocomplete {
    background-color:white;
    margin:0;
    padding:0;
}
span.autocomplete ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border: 1px dashed black;
}
span.autocomplete ul li.selected {
    background-color: #ffb;
}
span.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    height:32px;
    cursor:pointer;
}
/*end scriptaculous*/


.error-message {
     border: 1px black dashed;
     color: #f00;
     font-weight: bold;

}

a.sortarrow:visited {
    text-decoration: none;
     color: #00f;
}

a.sortarrow:link {
    text-decoration: none;
    color: #00f;
}

.row-heading {
    font-weight: bold;
}

.task-filter-controls {
  clear: both; 
}

ul.task_list {
  padding: 0; 
  margin: 0; 
  clear: both; 
}

.create_section {
   padding: 10;
}

.column-heading span {

}

.task-item {

}

.task_cell {
  text-align: left;
}

.overdue-task {
   color: maroon;
}

.completed-task {
    text-decoration: line-through;
    color: gray
}


.uncompleted-task {
  cursor:pointer;
  text-decoration: underline;
  color: #256e81;
}

.undroppable {

}

.root-task {

}

.sub-task { 

}

.editable {
}

span.editable:hover {
  background-color: #edf;
}

.help {
  cursor: pointer;
}

.help_text {
  background-color: #ddd;
  border: 1px solid black;
  position: absolute;
}

.undecorated_list {
  list-style-type: none;
  list-style-image: none; 
  padding-left: 0;
}

.selected-permission {
  font-weight: bold; 
}

.disabled-permission {
  color: #888;
}

.folded {
  display: none;
}

.command {
  cursor:pointer;
  text-decoration: underline;
  color: #256e81;
}

.removable_list_item {
  cursor:pointer;
  text-decoration: underline;
  color: #256e81;
}

#movable_add_task {
  background-color: #ddd;
}

.activity_list {
  list-style: none;
  margin-left: 0;
  padding-left: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#activity-table {
   border-spacing: 0;
   align: left;
   text-align: left;
   width: 100%;
   background-color: #fff;
}

#activity-insert {
   background-color: #ddd;
   padding: 3px;
   text-align: center;
}

#wrap-task-details {
  padding-top: 5px;
}

.child_tasks {
  padding-left: 25px;
  padding-top: 5px;
}

#task-detail-sidebar-cell {
  padding-left: 50;
  padding-right: 50;
}

.task-detail-mainbar {
  width: 75%;
  vertical-align: top;
}

#task-detail-sidebar {
  background-color: #ddd;
  padding-left: 10;
  padding-right: 3px;
  padding-top: 100;
  padding-bottom: 100;
}