td {
    padding-bottom: 20px;
    vertical-align: top;
}

.task_list {
	list-style-type: none;
        list-style-image: none; 
	padding-left: 0px;
}

.handle {
	padding: 0px 4px 0px 4px;
}

.drop {
   border-bottom: 2px solid black;
   padding-bottom: 2px;	
   background-image: url('images/folder_open.png');
}

.treewidget {
    display: none;
}

/*from scriptaculous*/
span.autocomplete {
    background-color:white;
    margin:0px;
    padding:0px;
}
span.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
span.autocomplete ul li.selected {
    background-color: #ffb;
}
span.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    height:32px;
    cursor:pointer;
}
/*end scriptaculous*/


.error-message {
     border: 1px black dashed;
     color: #f00;
     font-weight: bold;

}

a.sortarrow:visited {
    text-decoration: none;
     color: #00f;
}

a.sortarrow:link {
    text-decoration: none;
    color: #00f;
}

.row-heading {
    font-weight: bold;
}

.taskrow {
  clear: both; 
}

.taskitem {
   float: left; 
   width: 20%; 
}


.status-column {
   float: left; 
   width: 20%; 
}

.deadline-column {
   float: left; 
   width: 20%;    
}

.priority-column {
   float: left; 
   width: 20%;    
}

.owner-column {
   float: left; 
   width: 20%;    
}

.creator-column {
   float: left; 
   width: 20%;    
}

.completed-task {
    text-decoration: line-through;
    color: gray
}

.uncompleted-task {
}

.root-task {
  font-size:1.1em;
}

.sub-task { 
  font-size:0.95em;  
}

span.editable:hover {
  background-color: #edf;
}