.handle { 
	cursor: move; 
}

.task_list {
	list-style-type: none;
	padding-left: 0px;

}

.drop {
        border: 2px dashed #0f0;
}

.error-message {
border: 1px black dashed;
color: #f00;
font-weight: bold;

}